<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns</title>
</head>
<body>

<h1>Select Columns</h1>
<form method="post" action="create_table.py">
    {% csrf_token %}
    <!--<label for="columns">Select Columns:</label>
    <select name="columns" id="columns" multiple>
        {% for column in columns %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>-->
    <fieldset>
        <legend>Select Columns:</legend>
        {% for column in columns %}
            <label>
                <input type="checkbox" name="selected_columns" value="{{ column }}">
                {{ column }}
            </label><br>
        {% endfor %}
        <input type="hidden" name="csv_file_id" value="{{ csv_file_id }}">
    </fieldset>
    <button type="submit">Submit</button>
</form>

</body>
</html>
