<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns</title>
</head>
<body>

<h1>Select Columns</h1>
<form method="post" action="{% url 'DataVizLab:create_table' %}">
    {% csrf_token %}
    <fieldset>
        <legend>Select Columns:</legend>
        {% for column in columns %}
            <label>
                <input type="checkbox" name="selected_columns" value="{{ column }}">
                {{ column }}
            </label><br>
        {% endfor %}
        <input type="hidden" name="csv_file_id" value="{{ excel_file_id }}">
    </fieldset>
    <button type="submit">Submit</button>
</form>

</body>
</html>
