{% extends "base.html" %}
{% block title %}archivos EXCEL{% endblock %}
{% block content %}
<h1>Archivos:</h1>
<br>
{% if excelFile_list %}
<ul>
    {% for obj in excelFile_list %}
    <li> {{ obj.original_filename }} &nbsp; &nbsp;
        <input type="button" value="ver"> &nbsp; &nbsp;
        <a href="{% url 'DataVizLab:delete_ExcelFile' pk=obj.pk %}"> <input type="button" value="eliminar"> </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay archivos en su base de datos.</p>
{% endif %}
{% endblock %}